.bg__catalogo{
    
    background-attachment: fixed;
    background-size: cover;
}
.titulo{
    font-size: 2.5rem;
}
.card{
    border-radius: 0px;
    border-style: none;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.197);
}
.card img{
    border-radius: 0px;
}
.card__div{
	position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .10s ease all;
    border-radius: 0px;
}

.card__div img:hover{
    -webkit-animation: animacion_imagen 2s ease-out both;
    animation: animacion_imagen 2s ease-out both;
  
}
.cardbody__bg{
    background-color: rgb(45, 45, 45);
}
@-webkit-keyframes animacion_imagen {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes animacion_imagen {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }