
.nav__link__a{
    color: #000 !important;
    margin: 0px 20px;
    padding: 5px 20px !important;
    text-align: center !important;
    border-radius: 15px;
}
.nav__link__a:hover{
    background-color: #000;
    color: #fff !important;
    margin: 0px 20px;

}
.active{
    background-color: #000;
    color: #fff!important;

}
.header__border{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.09) 0px 3px 6px;
}
