.titulo{
    font-size: 5.5rem;
}
.animacion{
    -webkit-animation: animaciontexto 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: animaciontexto 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.banner__div{
    padding-top: 100px ;
    padding-bottom: 100px;
}
@-webkit-keyframes animaciontexto {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animaciontexto {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 700px) { 
  .titulo{
    font-size:2.5rem;
  }
  .banner__div{
    margin-bottom: 0px;
}
}
