.Skills__bg{
    background-color: #fff;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
}
.bg{
    background-color: #eeeeee;
}
/* card*/
.card{
    transition: .15s ease all;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.138);
    cursor: pointer;
}
.card__img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 150px;
    
}
.card__info{
   /* visibility: hidden;*/
   opacity: 0;
    visibility: hidden;
    position: absolute; 
    bottom: 0px;
    background-color: #fff;
    border-bottom: 5px solid #6C00FF;
    padding:10px 10px;
    color: #000;
    transition: .15s ease all;
}
.card:hover > .card__info{
    opacity: 1;
    visibility: visible;
}
/*pogressbar*/
.progress__estilos{
    align-items: flex-end !important;
    background-color: #6C00FF;
}
.progress, .progress-stacked{
height: 1.2rem !important;
background-color: rgb(211, 211, 211)!important;
}
/*educacion*/
.titulo__curso{
    color:#2B3467;
}