<div class="container-fluid m-0">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 p-0">
                <img class="informacion__img d-none d-sm-block d-sm-none d-md-block" src="https://thumbs.dreamstime.com/b/chica-con-laptop-expresando-felicidad-grandes-ventas-en-línea-hermosa-joven-mujer-de-invierno-gorro-punto-y-portátil-el-regazo-163658062.jpg" alt="">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="d-flex flex-column justify-content-center align-items-center p-5 informacion__div__parrafo">
                    <h2 class="text-center pb-5 fw-bold informacion__titulo">{{tituloInformacion}}</h2>
                    <p class="informacion__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo assumenda illum eos doloribus obcaecati! Rerum ut ipsa doloremque perspiciatis unde fugit totam ea soluta neque, corporis fuga, omnis, cum perferendis.
                    </p>
                    <p class="informacion__p">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo assumenda illum eos doloribus obcaecati! Rerum ut ipsa doloremque perspiciatis unde fugit totam ea soluta neque, corporis fuga, omnis, cum perferendis.
                    </p>
                    <div class="my-4">
                        <button class="btn btn-dark" >Descargar CV</button>
                    </div>
                </div>
            </div>
        </div>
</div>


