.bg__contactanos{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1144%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1025.645%2c257.451C1070.773%2c256.419%2c1109.936%2c229.284%2c1132.661%2c190.282C1155.559%2c150.983%2c1164.111%2c100.962%2c1138.871%2c63.125C1115.474%2c28.051%2c1067.803%2c29.257%2c1025.645%2c29.86C985.013%2c30.441%2c941.192%2c32.993%2c917.892%2c66.285C891.395%2c104.145%2c887.113%2c155.121%2c909.804%2c195.377C932.859%2c236.28%2c978.704%2c258.524%2c1025.645%2c257.451' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M58.471%2c255.631C84.739%2c253.639%2c101.757%2c229.925%2c113.165%2c206.18C122.864%2c185.993%2c123.562%2c162.883%2c112.346%2c143.498C101.149%2c124.146%2c80.79%2c112.976%2c58.471%2c111.654C33.269%2c110.161%2c6.536%2c115.551%2c-7.724%2c136.384C-23.768%2c159.824%2c-26.552%2c190.897%2c-12.766%2c215.732C1.392%2c241.237%2c29.384%2c257.837%2c58.471%2c255.631' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M715.095%2c107.469C728.285%2c107.775%2c743.049%2c105.578%2c749.513%2c94.076C755.897%2c82.715%2c749.823%2c69.186%2c742.766%2c58.23C736.423%2c48.382%2c726.788%2c41.333%2c715.095%2c40.64C701.99%2c39.863%2c687.947%2c43.378%2c681.095%2c54.576C674.003%2c66.166%2c675.991%2c81.111%2c683.338%2c92.54C690.117%2c103.086%2c702.561%2c107.178%2c715.095%2c107.469' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M940.815%2c459.529C991.467%2c456.838%2c1029.416%2c417.763%2c1053.447%2c373.094C1076.024%2c331.128%2c1080.902%2c282.155%2c1059.014%2c239.825C1035.167%2c193.706%2c992.715%2c153.827%2c940.815%2c155.272C890.602%2c156.67%2c858.901%2c202.772%2c833.491%2c246.103C807.653%2c290.164%2c782.407%2c340.642%2c805.354%2c386.275C830.072%2c435.429%2c885.873%2c462.448%2c940.815%2c459.529' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1172.126%2c320.567C1207.898%2c320.053%2c1240.317%2c300.496%2c1258.31%2c269.574C1276.413%2c238.463%2c1278.601%2c199.905%2c1260.412%2c168.844C1242.402%2c138.089%2c1207.759%2c123.124%2c1172.126%2c122.398C1135.004%2c121.642%2c1096.603%2c133.347%2c1077.383%2c165.115C1057.58%2c197.846%2c1061.637%2c239.446%2c1081.546%2c272.112C1100.646%2c303.45%2c1135.43%2c321.094%2c1172.126%2c320.567' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1319.903%2c299.79C1338.23%2c299.823%2c1356.002%2c292.32%2c1365.766%2c276.811C1376.198%2c260.24%2c1379.056%2c238.782%2c1368.821%2c222.089C1358.946%2c205.982%2c1338.796%2c201.889%2c1319.903%2c202.004C1301.265%2c202.118%2c1281.719%2c206.771%2c1272.006%2c222.678C1261.949%2c239.149%2c1264.148%2c260.251%2c1274.33%2c276.644C1283.965%2c292.156%2c1301.642%2c299.757%2c1319.903%2c299.79' fill='rgba(108%2c 0%2c 255%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1144'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
}
.contactos__h2{
    font-weight:600;
    font-size:  5.5vmin ;
}

.img__icon{
    width: 7%;
  }
.a__redes{
    width: 100%;
    background-color: #fff;
    padding: 10px 25px;
    font-size: 1em;
    border-radius: 25px;
    transition: transform 0.1s ease;
}
.a__redes:hover{
    transform: translateY(-0.33em);
    border-bottom: 7px solid #6C00FF
}
.col__tamaño{
    height: 50px;
}
/* formulario*/
.form__div{
    background-color: #fff;
    border-radius:0px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.144);
}
.form__input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.textarea{
    resize: none;
    height: 80px;
}
.form-floating>label{
    color: rgb(110, 109, 109);
}
.btn__enviar{
background-color: #000;
color: #fff;
font-weight: 700;
font-size: 1.5rem;
border-radius: 25px;
}
.btn__enviar:hover{
    background-color: #6C00FF;
    border-bottom: 3px solid #000;
}