<footer class="footer__bg container-fluid p-0 ">
    <div class="container text-light py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <div>
                        <a href="#" class="footer__a__logo"><img class="footer__img__logo pe-2" src="https://img.icons8.com/external-others-inmotus-design/512/external-A-keyboard-others-inmotus-design-2.png" alt="">londra</a>
                    </div>
                    <div class="mt-3">
                        <p class="" style="text-align: justify;">Egresada del Instituto Superior Tecnológico Público Argentina
                            de la carrera técnica de Computación e Informática del
                            semestre académico 2019-II con una alta capacidad de
                            responsabilidad y creatividad, me considero puntual,
                            amable, honrada y dinámica con facilidad de adaptación y
                            capacidad de trabajar en equipo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <p class="text-center fw-bold fs-5"></p>
                    <div class="d-flex flex-column gap-3">
                        <a class="nav__link__a nav-link active me-5" aria-current="page" routerLink="">Inicio</a>
                        <a class="nav__link__a nav-link text-dark me-5 btn btn-light activado" routerLink="/contactanos">Contactar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <p class="text-center fw-bold fs-5">Redes Sociales</p>
                    <div class="d-flex gap-3 justify-content-center">
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-facebook"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-twitter"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-youtube"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-instagram"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                    <p class="text-center fw-bold fs-5">Contacto</p>
                    <div>
                        <a href="mailto:selenerg.275@gmail.com" class="nav-link text-center">correo: selenerg.275@gmail.com</a>
                        <a href="https://wa.me/?phone=960231261&text=hola alondra te hablo para." class="nav-link text-center">telefono: 960 231 261</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark py-2">
        <p class="text-light text-center m-0 p-0">© Copyright 2022 - Todos los derechos reservados</p>
    </div>
</footer>